h1{
  font-size: 26px;
  font-family:sans-serif, verdana;
}
h2{
  font-size: 18px;
  font-family:sans-serif, verdana;
}
p{
  font-size: 14px;
  font-family:sans-serif, verdana;
}

img {
  width: 100px;
}
.powerpuff{
  width:150px;
}
.teamname{
  font-size: 18px;
  font-family:sans-serif, verdana;
}
#footer{
  padding-top: 50px;
  text-align: center;
}
