html, body {
  margin: 0;
}

.header img{
  padding: 15px;
}

#menu.main-nav ul{
  text-align: center;
  max-width: 100%;
}

#menu.main-nav ul {
  background: white;
  padding-left: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

#menu.main-nav li {
  padding: 5px 20px 5px 20px;
  margin: 0px 20px 0px 20px;
}

#menu.main-nav li a {
  text-decoration: none;
  font-size: 30px;
  color: black;
}

#menu.main-nav li a:hover {
  color: white;
}

#menu #base-nav > li {
  display:inline-block;
}

#base-nav > li{
  vertical-align: middle;
}

@media (min-width: 901px) {
  .current, .current > a{
    background-color: grey;
    color: white !important;
    border-radius: 50%;
  }
}

@media (min-width: 901px) {
  #base-nav li:hover,
  #base-nav li:hover > a {
    background-color: black;
    color: white !important;
    border-radius: 50%;
  }
}

#menu .openable ul {
  display: none;
  position: absolute;
  z-index: 1;
  margin-top: 5px;
  list-style-type: none;
  margin-left: -15px;
}

#menu .openable li{
  text-align: left;
}

#menu .openable:after{
    content: '';
    border: 5px solid transparent;
    border-top: 5px solid black;
    margin-left: 2px;
    display: inline-block;
}

#menu .openable:hover:after{
    border-top: 5px solid white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
}

.mm-menu .mm-navbar a,
.mm-menu .mm-counter {
  color: white !important;
  font-size: 30px;
}

.mm-menu .mm-next:after,
.mm-menu .mm-prev:before{
  border-color: white !important;
}

.mm-listview > li > a,
.mm-listview > li > span {
   padding-top: 10px;
   padding-bottom: 10px;
   color: white;
}

.mm-navbar + a img {
  width: 100%;
  height: auto;
}

@media (min-width: 901px) {
  .stickyHead + .content {
    padding-top: 91px;
  }
}

.content {
  padding: 16px;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
}

.mobile{
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid black;
}

@media (min-width: 901px){
  .glyphicon.glyphicon-camera{
    font-size: 40px;
    padding-top:10px;
    padding-bottom: 10px;
  }
}

#camera{
  border: 1px solid black;
  border-radius: 50%;
}

#my-button {
  margin: 0;
  z-index: 5;
}

@media (max-width: 900px) {
   #menu {
      display: none !important;
   }
   .content {
     padding-top: 30px;
   }
}
@media (min-width: 901px) {
   #mm-menu{
      display: none !important;
   }
   .mobile{
     display: none;
   }
}
